
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="mysheet.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<title>Home page</title>
</head>
<body>
	<div style="width: 100%; height: 250px;" class="header">		
	</div>
	<div class="sticky-top">
		<nav style="width: 100%; height: 50px; background-color: green;" >
			<div class="float-right" style="padding-right: 10px;">
				<div class="d-flex flex-row-reverse"
					style="padding-right: 3px; padding-top: 5px;">
					<a class="p-2 " style="color: white;" href="#">Sign
						In</a> 
					<a class="p-2 " style="color: white" href="#">Booking
						manage |</a> 
					<a class="p-2 " style="color: white" href="/service">Service
						|</a> 
					<a class="p-2 " style="color: white" href="/room">Types Room |</a>
					<a class="p-2 " style="color: white" href="/adminLogin">login |</a>
				</div>
			</div>
		</nav>
	</div>
	<div class="divContainRoom">
		<div class="divtyperoom" >
			<div class="divRoom" th:each="typeroom : ${typeroom}">
				<div class="divimage">
					<div class="book">
						<a th:href="@{showroom(startDateStr='',endDateStr='')}"
							class="btn btn-primary">Book now</a>
					</div>
					<img style="width: 369px; height: 200px;" alt="anh"
						th:src="@{'../image/'+${typeroom.image}}">
				</div>
				<div class="divtyperoomtext">
					<span style="font-size: 16px; margin-left: 10px;">type: </span><span
						style="font-size: 18px;" th:text="${typeroom.type}"></span><br> <span
						style="font-size: 16px; margin-left: 10px;">size: </span><span
						style="font-size: 20px;" th:text="${typeroom.size}"></span>
				</div>
			</div>
		</div>		
	</div>
</body>
</html>